%h1 My Feed


%p Posts
%table
  %thead
    %tr
      %th Followee name
      %th Message
      %th Created Time
  %tbody
    -post_all = []
    - @user.followers.each do |followers|
      - followee = User.find(followers.followee_id)
      -# followee_name = followee.name
      - followee.posts.each do |post|
        -post_all.push(post) #followee post
    
    - post_all.sort_by{|e| e.created_at}.reverse.each do |post|
      %tr
        %td= post.user.name
        %td= post.msg
        %td= post.created_at

=link_to 'New post' ,new_post_sys_path
            
      
