%h1 My Feed
%p#alert.text-danger= alert   

%p Posts
%table.table
  %thead
    %tr
      %th Followee name
      %th Message
      %th Created Time
  %tbody
    - @post.each do |post|
      %tr
        %td= post.user.name
        %td= post.msg
        %td= post.created_at

=link_to 'New post' ,new_post_sys_path
            
      
