%h1 My Feed


%p Posts
%table
  %thead
    %tr
      %th Followee name
      %th Message
  %tbody
    -puts "wow"
    - @user.followers.each do |followers|
      -puts "#{followers.followee_id}"
      - followee = User.find(followers.followee_id)
      - followee_name = followee.name
      - followee.posts.each do |post|
        %tr
          %td= followee_name
          %td= post.msg

=link_to 'New post' ,new_post_sys_path
            
      
